mixin textfield(label, placeholder, name, type)
    .custom-textfield
        label(for=label).text-inscription #{label}
        input(type= type, placeholder=placeholder, name=name id=label).custom-textfield__input