mixin userItem(item)
    li.chat-side__users__list__item.p-10
        .user-img.m-5
            img.chat-content__user-image(src=item.avatar, alt)
        .user-data.ml-5
            .user-data__name.pl-5.pb-5.mb-2
                span.chat-content__user-name.mb-2 #{item.name}
                span.chat-content__user-text #{item.lastMessage.length > 0 ? `${item.lastMessage.substr(0, 40)}...` : ""}
            .user-data__date.pb-5.mb-2.mr-10
                span #{item.date}